In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
#divide the dataset into independent and dependent
y=df['tip']
X=df[df.columns.difference(['tip'])]

In [4]:
X.head()

   day     sex  size smoker    time  total_bill
0  Sun  Female     2     No  Dinner       16.99
1  Sun    Male     3     No  Dinner       10.34
2  Sun    Male     3     No  Dinner       21.01
3  Sun    Male     2     No  Dinner       23.68
4  Sun  Female     4     No  Dinner       24.59

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
X['day']=X['day'].cat.codes
X['sex']=X['sex'].cat.codes
X['smoker']=X['smoker'].cat.codes
X['time']=X['time'].cat.codes

C:\Users\Faseeh\AppData\Local\Temp/ipykernel_20472/4105089070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['day']=X['day'].cat.codes
C:\Users\Faseeh\AppData\Local\Temp/ipykernel_20472/4105089070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['sex']=X['sex'].cat.codes
C:\Users\Faseeh\AppData\Local\Temp/ipykernel_20472/4105089070.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['smoker']=X['smoker'].cat.codes
C:\Users\Faseeh\AppData\Local\Temp/ipykernel_20472/4105089070.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['time']=X['time'].cat.codes

In [7]:
X

     day  sex  size  smoker  time  total_bill
0      3    1     2       1     1       16.99
1      3    0     3       1     1       10.34
2      3    0     3       1     1       21.01
3      3    0     2       1     1       23.68
4      3    1     4       1     1       24.59
..   ...  ...   ...     ...   ...         ...
239    2    0     3       1     1       29.03
240    2    1     2       0     1       27.18
241    2    0     2       0     1       22.67
242    2    0     2       1     1       17.82
243    0    1     2       1     1       18.78

[244 rows x 6 columns]

In [8]:
###Train test split
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test=tts(X,y,train_size=0.75,random_state=42)

In [ ]:
#!pip install sklearn
!pip install shapash

In [9]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=200).fit(X_train,y_train)

In [10]:
from shapash.explainer.smart_explainer import SmartExplainer
#!pip uninstall Jinja2
#!pip install Jinja2

In [13]:
xpl=SmartExplainer()

In [14]:
xpl.compile(
    x=X_test,
    model=regressor
)

Backend: Shap TreeExplainer

# Lets Understand the results of your trained model
Then, we can easily get a first summary of the explanation of the model results.

Here, we chose to get the 3 most contributive features for each prediction.
We used a wording to get features names more understandable in operationnal case.

In [18]:
#xpl.to_pandas(max_contrib=3).compile()

In [19]:
app=xpl.run_app(title_story="Tips Dataset")

C:\Users\Faseeh\Anaconda3\lib\site-packages\shapash\webapp\smart_app.py:306: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

Dash is running on http://0.0.0.0:8050/

INFO:root:Your Shapash application run on http://LAPTOP-M02V2K7G:8050/
INFO:shapash.webapp.smart_app:Dash is running on http://0.0.0.0:8050/

INFO:root:Use the method .kill() to down your app.

 * Serving Flask app 'shapash.webapp.smart_app' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

WARNING:werkzeug: * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
INFO:werkzeug: * Running on http://192.168.0.10:8050/ (Press CTRL+C to quit)
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET / HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET /_dash-component-suites/dash_renderer/polyfill@7.v1_8_3m1640453188.8.7.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET /assets/style.css?m=1640453226.500698 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET /assets/material-icons.css?m=1640453226.4094024 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET /_dash-component-suites/dash_renderer/react@16.v1_8_3m1640453188.14.0.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET /_dash-component-suites/dash_renderer/react-dom@16.v1_8_3m1640453188.14.0.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:05] "GET /_dash-component-suites/dash_renderer/prop-types@15.v1_8_3m1640453188.7.2.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_core_components/dash_core_components-shared.v1_13_0m1640453195.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v0_9_1m1640453224.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_html_components/dash_html_components.v1_1_1m1640453192.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_table/bundle.v4_11_0m1640453186.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_core_components/dash_core_components.v1_13_0m1640453195.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_daq/dash_daq.v0_5_0m1640453223.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /assets/jquery.js?m=1640453226.404402 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /assets/main.js?m=1640453226.4074025 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:06] "GET /_dash-component-suites/dash_renderer/dash_renderer.v1_8_3m1640453188.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-dependencies HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-layout HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-component-suites/dash_core_components/async-dropdown.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-component-suites/dash_core_components/async-graph.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-component-suites/dash_core_components/async-plotlyjs.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-component-suites/dash_table/async-table.v4_11_0m1604001235.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /_dash-component-suites/dash_core_components/async-slider.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /assets/shapash-fond-fonce.png HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /assets/settings.png HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "GET /assets/reload.png HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:08] "POST /_dash-update-component HTTP/1.1" 200 -
C:\Users\Faseeh\Anaconda3\lib\site-packages\shapash\webapp\smart_app.py:827: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:09] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:09] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:10] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:10] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:10] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:10] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:13] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:13] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:13] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.10 - - [25/Dec/2021 23:49:22] "GET /assets/favicon.ico?m=1640453226.4005146 HTTP/1.1" 200 -

In [20]:
predictor=xpl.to_smartpredictor()

In [21]:
predictor.save('./predictor.pkl')

In [22]:
from shapash.utils.load_smartpredictor import load_smartpredictor
predictor_load=load_smartpredictor('./predictor.pkl')

# Make a prediction with your SmartPredictor
In order to make new predictions and summarize local explainability of your model on new datasets, you can use the method add_input of the SmartPredictor.

The add_input method is the first step to add a dataset for prediction and explainability.
It checks the structure of the dataset, the prediction and the contribution if specified.
It applies the preprocessing specified in the initialisation and reorder the features with the order used by the model. (see the documentation of this method)
In API mode, this method can handle dictionnaries data which can be received from a GET or a POST request.
Add data
The x input in add_input method doesn't have to be encoded, add_input applies preprocessing.

In [23]:
predictor_load.add_input(x=X,ypred=y)

In [24]:
detailed_contributions=predictor_load.detail_contributions()

In [25]:
detailed_contributions.head()

    tip       day       sex      size    smoker      time  total_bill
0  1.01 -0.170340 -0.056951 -0.098057 -0.123448 -0.013708   -0.829981
1  1.66  0.038296 -0.051522 -0.092831  0.017804 -0.004023   -1.145159
2  3.50  0.062324 -0.014326 -0.111266 -0.021741  0.007495    0.443730
3  3.31  0.096494  0.008631 -0.028986 -0.019291 -0.011318    0.619686
4  3.61  0.072741 -0.007697  0.023786 -0.002221 -0.011204    0.541809

# Summarize explanability of the predictions
You can use the summarize method to summarize your local explainability
This summary can be configured with modify_mask method so that you have explainability that meets your operational needs.

In [26]:
predictor_load.modify_mask(max_contrib=3)

In [27]:
explanation=predictor_load.summarize()

In [28]:
explanation.head()

,tip,feature_1,value_1,contribution_1,feature_2,value_2,contribution_2,feature_3,value_3,contribution_3
0,1.01,total_bill,16.99,-0.829981,day,3.0,-0.17034,smoker,1.0,-0.123448
1,1.66,total_bill,10.34,-1.145159,size,3.0,-0.092831,sex,0.0,-0.051522
2,3.50,total_bill,21.01,0.44373,size,3.0,-0.111266,day,3.0,0.062324
3,3.31,total_bill,23.68,0.619686,day,3.0,0.096494,size,2.0,-0.028986
4,3.61,total_bill,24.59,0.541809,day,3.0,0.072741,size,4.0,0.023786